.listCities {
  color: #313131;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.listItem:not(:last-child) {
  margin-right: 20px;
}

.listItem {
  width: 150px;
  border: 1px solid #313131;
  border-radius: 5px;
}

.titleItem {
  margin: 0;
  font-size: 32px;
  margin-bottom: 6px;
}

.tempItem {
  margin: 0;
  font-size: 32px;
}

.boxTemp {
  display: flex;
  justify-content: space-around;
}

.btnGoBack {
  text-align: center;
  border: none;
  background-color: #fff;
  color: rgb(218, 56, 56);
  font-weight: 700;
  border-radius: 5px;
  padding: 4px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s linear;
  margin-bottom: 20px;
}

.btnGoBack:hover {
  background-color: rgb(218, 56, 56);
  color: #fff;
}
