.linkItem {
  text-decoration: none;
  color: #313131;
  cursor: pointer;
  margin-right: 1px;
}

.listItem {
  width: 150px;
  border: 1px solid #313131;
  border-radius: 5px;
  color: #ec6e4c;
}

.listItem:not(:last-child) {
  margin-right: 20px;
}

.titleItem {
  margin: 0;
  font-size: 32px;
  margin-bottom: 6px;
}

.tempItem {
  margin: 0;
  font-size: 32px;
}

.button {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  border-radius: 5px;
  background-color: rgb(36, 36, 36);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
  transition: 0.3s linear;
}

.itemBtnUpdate {
  composes: button;
  background-image: url(../../img/icon/refresh.png);
  margin-right: 4px;
}

.itemBtnDelete {
  composes: button;
  background-image: url(../../img/icon/delete.png);
}

.itemBtnDelete:hover {
  background-color: #ec6e4c;
}

.itemBtnUpdate:hover {
  background-color: #ec6e4c;
}
